<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <header>
        <a href="" class="Logo">
            <img src="./images/v263_51.png" alt="">
            <img src="./images/face.png" alt="">
        </a>
       <input type="checkbox" id="menu-bar">
       <label for="menu-bar"><img src="./images/bars.png" alt=""></label>
        <nav class="navbar">
            <ul>
                <li><a href="#">User</a>

                    <ul>
                        <li><a href="#">Pedro</a></li>
                        <li><a href="#">reportar problemas</a></li>
                        <li><a href="#">cerrar sesion</a></li>
                    </ul>
                </li> 
            </ul>
        </nav>
    </header>     
    
    
        
        <div class="regis">
            <div id="regis1">
                <h2>Hello" <br> Pedro Perez Martinez</h2>
            </div>
           <div id="regis2">
                 <a href="" >Registrar Asistencia</a>
           </div>
           <div id="regis3">
            <a href=""  >Visualizar Asistencia</a>
           </div>
            

        </div>

  

</body>
</html>