<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
   <!--
    <div class="container">
        <div class="logo"><img src="./images/face2.png" alt=""></div>
        <div class="login-item">
          <form action="" method="post" class="form form-login">
            <div class="form-field">
              <input id="login-username" type="text" class="form-input" placeholder="Username" required>
            </div>
            <div class="form-field">
              <input id="login-password" type="password" class="form-input" placeholder="Password" required> 
              
            </div>
            <div class="form_fpas">
              <a href="">¿olvidaste la contraseña?</a>
            </div>
            <div class="form-field ">
              <input type="submit" value="Log in">
               
            </div>
            <div class="form_footer">
              ¿No tiene cuenta?<a  href="">Registrarse</a>
            </div>
          </form>
        </div>
    </div>
    --> 

    <div class="container">
      
      <form action="" class="form">
        <h2>Hola! <br> Bienvenido </h2>
        <input type="email" name="email" class="box" placeholder="Correo">
        <input type="password" name="password" class="box" placeholder="Contraseña">
        <div class="form-pass">
          <a href="" id="o-pass">¿olvidaste la contraseña?</a>
        </div>       
       <a href="home.html" id="submit">Log in</a>
        <div class="form_footer">
          ¿No tiene cuenta?<a  href="">Registrarse</a>
        </div>
      </form>

      <div class="side">
        <img src="./images/v263_51.png" alt="">
        <div class="logo"><img src="./images/face2.png" alt=""></div>

      </div>
    </div>


</body>
</html>